
<app-header></app-header>


    <!--=======Page Heading
    ===============================================-->
    <section class="page-heading-section bg-image before-bg" style="background-image: url(/assets/images/img/pvgcoe.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <h2 class="page-name text-capitalize">about us</h2>
                    </div><!--/.page-heading-->
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.page-heading-area-->
    
    <!--=======About Page
    ================================-->
    <div class="about-page page-wrapper">
        <section id="standard-section" class="our-standard-section s-pd1">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="section-heading-area text-center">
                            <h2 class="section-heading">our standard</h2>
                        </div>
                    </div><!--/.col-lg-8-->
                </div><!--/.row-->
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <a href="https://www.youtube.com/watch?v=Ey1lkwYGSC0" class="video-btn before-bg">
                            <img class="img-fluid border-radius" src="/assets/images/img/standard-video.jpg" alt="img">
                            <span class="play-icon">
                                <i class="fa fa-play-circle-o"></i>
                            </span>
                        </a>                                       
                    </div><!--/.col-lg-6-->
                    <div class="col-lg-6 col-md-12">
                        <div id="accordion" class="our-standard-content" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default single-standard">
                                <div class="panel-heading" role="tab">
                                    <h3 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">I’m not creative, should I take this course?</a>
                                    </h3>
                                </div><!--/.panel-heading-->
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                                    <div class="single-standard-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                                    </div>
                                </div><!--/.panel-collapse-->
                            </div><!--/.single-standard-->
                            <div class="panel panel-default single-standard">
                                <div class="panel-heading" role="tab">
                                    <h3 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What Design Thinking?</a>
                                    </h3>
                                </div><!--/.panel-heading-->
                                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel">
                                    <div class="single-standard-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                                    </div>
                                </div><!--/.panel-collapse-->
                            </div><!--/.single-standard-->
                            <div class="panel panel-default single-standard">
                                <div class="panel-heading" role="tab">
                                    <h3 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What does the course tuition go towards?</a>
                                    </h3>
                                </div><!--/.panel-heading-->
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                                    <div class="single-standard-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                                    </div>
                                </div><!--/.panel-collapse-->
                            </div><!--/.single-standard-->
                        </div><!--/.our-standard-content-->
                    </div><!--/.col-lg-6--> 
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.page-heading-area-->
        
        <!--====Counter Section
        ====================================-->
        <section class="counter-section before-bg bg-image s-pd145" style="background-image: url(/assets/images/img/counter-bg.jpg);">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-10">   
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-6">
                                <div class="single-counter">
                                    <h2><span class="counter">874</span></h2>
                                    <p>courses</p>
                                </div><!--/.single-counter-->
                            </div><!--/.col-lg-3-->
                            <div class="col-lg-3 col-sm-3 col-6">
                                <div class="single-counter">
                                    <h2><span class="counter">600</span></h2>
                                    <p>students</p>
                                </div><!--/.single-counter-->
                            </div><!--/.col-lg-3-->
                            <div class="col-lg-3 col-sm-3 col-6">
                                <div class="single-counter">
                                    <h2><span class="counter">472</span></h2>
                                    <p>E-Book</p>
                                </div><!--/.single-counter-->
                            </div><!--/.col-lg-3-->
                            <div class="col-lg-3 col-sm-3 col-6">
                                <div class="single-counter">
                                    <h2><span class="counter">243</span></h2>
                                    <p>Teachers</p>
                                </div><!--/.single-counter-->
                            </div><!--/.col-lg-3-->
                        </div><!--/.row-->
                    </div><!--/.col-lg-10-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.counter-section-->

        <!--====Our Partners Section
        ====================================-->
        <section class="our-partners-section s-pd2">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="section-heading-area text-center">
                            <h2 class="section-heading text-capitalize">Our Partners</h2>
                        </div><!--/.section-heading-area--> 
                    </div><!--/.col-lg-8-->
                </div><!--/.row-->

                <div class="row">
                    <div class="col-md-12">
                        <div id="client-carousel" class="owl-carousel">
                            <div class="single-logo">
                                <img src="/assets/images/img/logos/1.png" alt="img">
                            </div>
                            <div class="single-logo">
                                <img src="/assets/images/img/logos/2.png" alt="img">
                            </div>
                            <div class="single-logo">
                                <img src="/assets/images/img/logos/3.png" alt="img">
                            </div>
                            <div class="single-logo">
                                <img src="/assets/images/img/logos/4.png" alt="img">
                            </div>
                            <div class="single-logo">
                                <img src="/assets/images/img/logos/2.png" alt="img">
                            </div>
                        </div><!--/.client-carousel-->
                    </div><!--/.col-md-12-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.our-partners-section-->
        
        <!--====Career Section
        ====================================-->
        <section class="career-section before-bg bg-image" style="background-image: url(/assets/images/img/career-bg.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6 col-sm-12">
                        <div class="career-content-area">
                            <h2>Work whit us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                            <ul class="list-unstyled">
                                <li><span>.</span> Love your family</li>
                                <li><span>.</span> Be focused</li>
                                <li><span>.</span> Have a point of view</li>
                                <li><span>.</span> Be self-aware</li>
                                <li><span>.</span> Be curious</li>
                                <li><span>.</span> Be hungry</li>
                                <li><span>.</span> Be empathic</li>
                                <li><span>.</span> Be an individual</li>
                            </ul>
                        </div>
                    </div><!--/.col-lg-5-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.our-partners-section-->
        
        <!--====Our Goals Section
        ====================================-->
        <section class="our-goals-section s-pd125">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid border-radius" src="/assets/images/img/about-thumb.jpg" alt="img">
                    </div><!--/.col-md-12-->
                    <div class="col-md-4">
                        <div class="single-goals">
                            <h2>The Our Story</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur ad r incididunt ut labore et</p>
                            <p>Lorem ipsum dolor sit amet, consectetur ad r incididunt ut labore et</p>
                        </div><!--/.single-goals-->
                    </div><!--/.col-md-4-->
                    <div class="col-md-4">
                        <div class="single-goals">
                            <h2>Who we are?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur ad r incididunt ut labore et</p>
                            <p>Lorem ipsum dolor sit amet, consectetur ad r incididunt ut labore et</p>
                        </div><!--/.single-goals-->
                    </div><!--/.col-md-4-->
                    <div class="col-md-4">
                        <div class="single-goals">
                            <h2>Our mission</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur ad r incididunt ut labore et</p>
                            <p>Lorem ipsum dolor sit amet, consectetur ad r incididunt ut labore et</p>
                        </div><!--/.single-goals-->
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.our-goals-section-->

        <!--====Testimonial Section
        ====================================-->
        <section id="testimonial-section" class="testimonial-area before-bg bg-image s-pd125" style="background-image: url(/assets/images/img/map.png);">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-9">
                        <div id="customer-reviews" class="owl-carousel" data-slider-id="1">               
                            <!--Single Customer Review-->
                            <div class="single-customer-review text-center">                             <span class="fa fa-quote-left"></span>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                                <div class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!--/.review-rating-->
                                <h4><span>Jhon Doe</span> - CEO at Symphony</h4>
                            </div><!--/.single-customer-review-->  

                            <!--Single Customer Review-->
                            <div class="single-customer-review text-center">                             <span class="fa fa-quote-left"></span>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                                <div class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!--/.review-rating-->
                                <h4><span>Jhon Doe</span> - CEO at Symphony</h4>
                            </div><!--/.single-customer-review-->  

                            <!--Single Customer Review-->
                            <div class="single-customer-review text-center">                             <span class="fa fa-quote-left"></span>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                                <div class="review-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!--/.review-rating-->
                                <h4><span>Jhon Doe</span> - CEO at Symphony</h4>
                            </div><!--/.single-customer-review-->
                        </div><!--/#customer-reviews-->
                        <div class="owl-thumbs text-center" data-slider-id="1">
                            <button class="owl-thumb"><img src="/assets/images/img/author/author-2.png" alt="img"></button>
                            <button class="owl-thumb"><img src="/assets/images/img/author/author-2.png" alt="img"></button>
                            <button class="owl-thumb"><img src="/assets/images/img/author/author-2.png" alt="img"></button>
                        </div><!--/.owl-thumbs-->
                    </div><!--/.col-md-9-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/#testimonial-section-->
       
        <!--====Our Teams Section
        ====================================-->
        <section class="our-teams-section s-pd1">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="section-heading-area text-center">
                            <h2 class="section-heading text-capitalize">Our teams</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.v</p>
                        </div><!--/.section-heading-area-->
                    </div><!--/.col-lg-8-->
                </div><!--/.row-->
                
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-member text-center">
                            <div class="team-member-thumb before-bg">
                                <img class="border-radius img-fluid" src="/assets/images/img/team/1.jpg" alt="img">
                                <div class="social-share">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div><!--/.team-member-thumb-->
                            <div class="member-info">
                                <h2>Trina Catten</h2>
                                <p>Design & Web Developer</p>
                            </div><!--/.member-info-->
                        </div><!--/.single-team-member-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-member text-center">
                            <div class="team-member-thumb before-bg">
                                <img class="border-radius img-fluid" src="/assets/images/img/team/2.jpg" alt="img">
                                <div class="social-share">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div><!--/.team-member-thumb-->
                            <div class="member-info">
                                <h2>Trina Catten</h2>
                                <p>Design & Web Developer</p>
                            </div><!--/.member-info-->
                        </div><!--/.single-team-member-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-member text-center">
                            <div class="team-member-thumb before-bg">
                                <img class="border-radius img-fluid" src="/assets/images/img/team/1.jpg" alt="img">
                                <div class="social-share">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div><!--/.team-member-thumb-->
                            <div class="member-info">
                                <h2>Trina Catten</h2>
                                <p>Design & Web Developer</p>
                            </div><!--/.member-info-->
                        </div><!--/.single-team-member-->
                    </div><!--/.col-lg-3-->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-member text-center">
                            <div class="team-member-thumb before-bg">
                                <img class="border-radius img-fluid" src="/assets/images/img/team/3.jpg" alt="img">
                                <div class="social-share">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div><!--/.team-member-thumb-->
                            <div class="member-info">
                                <h2>Trina Catten</h2>
                                <p>Design & Web Developer</p>
                            </div><!--/.member-info-->
                        </div><!--/.single-team-member-->
                    </div><!--/.col-lg-3-->
                </div><!--/.row-->
            </div><!--/.container-->
        </section><!--/.our-teams-section-->
    </div><!--/.about-page-->

   <app-footer></app-footer>
    
    <!--=========== JS FILE DECLARATION  ==============-->
    <!-- jQuery Latest Version -->
    <script src="js/jquery-v3.2.1.min.js"></script>
    <!-- PopperJS -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap framework JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All JS plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <!-- Main JS file that contents all jQuery Plugins activation. -->
    <script src="js/main.js"></script>
